<!-- <h1>I am the Best!</h1> -->
<mat-card>
  <form (submit)="onAddPost(postForm)" #postForm="ngForm">
    <mat-form-field>
      <input
        matInput
        required
        type="text"
        name="title"
        ngModel
        placeholder="Post Title"
        #title="ngModel"
      />
      <mat-error *ngIf="title.invalid">Please Enter Title</mat-error>
    </mat-form-field>
    <mat-form-field>
      <textarea
        matInput
        required
        rows="6"
        name="content"
        ngModel
        placeholder="Post Content"
        #content="ngModel"
      ></textarea>
      <mat-error *ngIf="content.invalid">Please Enter Content</mat-error>
    </mat-form-field>
    <button mat-raised-button color="primary" type="submit">Save Post</button>
  </form>
</mat-card>

<!-- <hr /> -->
<!-- <p>{{newPost}}</p> -->
